.header {
    padding-left: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-xl);
}

.button {
    width: 100%;
    display: block;
    padding: var(--mantine-spacing-sm);

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-8));
    }
}

.icons {
    color: light-dark(var(--mantine-color-primary-4), var(--mantine-color-primary-3));
}

.external {
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-3));
}
