.header {
    padding-left: var(--mantine-spacing-md);
    font-size: var(--mantine-font-size-xl);
}

.button {
    width: 100%;
    display: block;
    padding: var(--mantine-spacing-sm);

    @mixin hover {
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-gray-8));
    }
}

.icons {
    color: var(--mantine-color-primary-4);
    @mixin dark {
        color: var(--mantine-color-primary-3)
    }
}

.external {
    color: var(--mantine-color-gray-7);
    @mixin dark {
        color: var(--mantine-color-gray-3)
    }
}
